body{
    margin:0;
    padding: 0;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
    border:1px solid green;
    padding:10px;
}
main{
    padding:5%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}